<table>
  <tr>
    <th>Label</th>
    <th>Url</th>
    <th>Icon</th>
  </tr>
  <% for bank in @banks %>
    <tr>
      <td><%= bank.label %></td>
      <td><%= bank.url %></td>
      <td><%= bank.icon %></td>
      <td><%= link_to "Show", bank %></td>
      <td><%= link_to "Edit", edit_bank_path(bank) %></td>
      <td><%= link_to "Destroy", bank, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Bank", new_bank_path %></p>
