<p>
  <strong>Label:</strong>
  <%= @bank.label %>
</p>
<p>
  <strong>Url:</strong>
  <%= @bank.url %>
</p>
<p>
  <strong>Icon:</strong>
  <%= @bank.icon %>
</p>

<p>
  <%= link_to "Edit", edit_bank_path(@bank) %> |
  <%= link_to "Destroy", @bank, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", banks_path %>
</p>
