<%= form_for [:admin, @theme] do |f| %>
  <p>
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p><%= f.submit %></p>
<% end %>
