<p>
  <strong>Label:</strong>
  <%= @theme.label %>
</p>
<p>
  <strong>Url:</strong>
  <%= @theme.url %>
</p>

<p>
  <%= link_to "Edit", edit_admin_theme_path(@theme) %> |
  <%= link_to "Destroy", [:admin, @theme], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_themes_path %>
</p>
