<%= render :partial => 'shared/menu', :locals => { :position => 2 } %>
<br/>
<div id="accordion">
  <h3 class="title">Profil du compte</h3>
  <div class="content">
    <p>
      <%= render  :partial => 'users/edit', 
                  :locals => {:user => @current_user} %>
    </p>
  </div>
  <h3 class="title"><a href="#">Comptes Bancaires</a></h3>
  <div class="content">
    <p>
      <div id="index_bank" title="Ajouter un compte bancaire"></div>

      <div id="index_account">
        <%= render :partial => 'accounts/index' %>
      </div>
      <br/>
      <%= link_to "Ajouter un compte bancaire", 
                  banks_path, 
                  :remote => true  %><br/>
    </p>
  </div>
  <h3 class="title"><a href="#">Thèmes</a></h3>
  <div class="content">
    <p>
    
      <%= form_for  @current_user, 
                    :url => { :action=>"update_theme", 
                              :controller=>"users", 
                              :id => @current_user.id }, 
                    :method => :post,
                    :html => { :id => "update_theme" } do |f| %>
        Selectionnez un thème :<br/> 
        <%= f.collection_select(:theme_id, Theme.all, :id, :label ) %>
      <% end %>
    </p>
  </div>
</div>
