<%= link_to "Supprimer mon compte", user_path(@current_user), :confirm => "Êtes vous sûre?", :method => :delete %>

<%= form_for(@current_user, :remote => true) do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit t(".submit") %>
  </div>
<% end %>

<%= link_to "Ajouter un compte bancaire", banks_path, :remote => true  %>
