<%= flash[:notice] %>

<h2>Ouvrir un compte</h2>

<%= form_for(@user, :remote => true) do |f| %>
  <%= render "shared/error_messages", :target => @user %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
  <%= show_simple_captcha(:object=>"user") %>
  </div>
  <div class="actions">
    <%= f.submit t(".submit_sign_up") %>
  </div>
<% end %>

<%= form_for(@user_session, :remote => true) do |f| %>
  <%= render "shared/error_messages", :target => @user_session %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit t(".submit_sign_in") %>
  </div>
<% end %>
