<!DOCTYPE html>
<html>
<head>
  <title>Onopia</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <% if ENV["RAILS_ENV"] == "test" %>
      <%= puts javascript_include_tag('culerity') %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="message"></div>
<div id="errors"></div>

<%= yield %>

</body>
</html>
