<%= flash[:notice] %>
<%= render :partial => "shared/error_messages", :locals => { :target => @account  }  %>
<%= form_for @account, :remote => true do |f| %>
    <%= f.hidden_field :bank_id %>
  <p>
    <%= f.label :login, "Identifiant" %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password, "Mot de passe" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :type_id %><br />
    <%= f.collection_select(:type_id, AccountType.all, :id, :label) %>
  </p>
  <p><%= f.submit "Ajouter le compte" %></p>
<% end %>
