<<table>
  <tr>
    <th>Login</th>
    <th>Password</th>
    <th>Type</th>
    <th>Balance</th>
  </tr>
  <% for account in @accounts %>
    <tr>
      <td><%= account.login %></td>
      <td><%= account.password %></td>
      <td><%= account.account_type_id %></td>
      <td><%= account.balance %></td>
      <td><%= link_to "Show", account %></td>
      <td><%= link_to "Edit", edit_account_path(account) %></td>
      <td><%= link_to "Destroy", account, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Account", new_account_path %></p>
